<div class="fpa-import-container">
  <label>
    {{localize "fvtt-player-achievements.forms.achievements-import.import-message"}}
  </label>
  <textarea class="fpa-import-data" name="fpa-import-data"></textarea>
  <button type="button" name="fpa-import">{{localize "fvtt-player-achievements.forms.achievements-import.button" }}</button>
</div>
