<div class="fpa-export-container">
  <label>
    {{localize "fvtt-player-achievements.forms.achievements-export.export-message"}}
  </label>
  <textarea class="fpa-export-data">{{exportData}}</textarea>
</div>
